* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #51575B;
}

/* Nav Style */

.main-nav {
	width: 100%;
	min-height: 30px;
	padding: 10px;
	position: fixed;
	text-align: center;
	display: flex;
	font-weight: normal;
	
  }

  .socialnbutton {
	display: flex;
  }

  a {
	text-decoration: none;
	color: #51575B;
	padding: 6px; 
  }
  a:hover {
	color: #8a9195;
	transform: scale(.9)
  }

  .nav {
	position: center;
	color: #51575B;
	justify-content: space-around;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	display: flex;
  }
  
  .nav .name {
	  position: left;
	  display: block;
	  margin-right: auto;
	  margin-left: 30%;
	  color:#51575B;
  }
  .nav li {
	padding: 5px 10px 10px 10px;
	display: inline-block;
  }

  .header-section {
	
  }

  ul .socials {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
	justify-content: center;
	float: right;
	
}
  li {
	display: inline-block;
	
}

  .download-button {
	display: inline-block;
	padding: .3% .3%;
	box-shadow: 4px 4px #51575B;
	background-color: #3dafbe;
	border-radius: 3px;
	transition-duration: 0.4s;
	
  }

  .download-button:hover {
	  background-color: #21828F;
	  color: #ffffff
  }

   span {
	font-size: 85%;
	text-align: center;
	color: #ffffff;
	display: inline-flex;
    width: 100%;
	font-family: sans-serif;
	
}


.fab fa-twitter {
	

}

.fab fa-github {
	
}

/* End of Nav Style */